.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.logo1{        /*Home 화면 로고이미지*/         
  width: 300px;
   height: 300px;
   object-fit: cover;
}
.mainlogo1{ /*Main 화면 로고이미지*/
  margin-left: 10px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.daily-wod-list {

}
.daily-wod-list .list-group-item.active {
  /*DailyWod 페이지 버튼 색상 변경*/
  background-color: #F37116;
  border-color: white;
}
.wod-collabse-btn {
  background-color: #F37116;
  border-color: white;
}
.nav-container{
  margin: 0 5px;
}
.munjung-btn{    /*Home 페이지 버튼*/  
  align-items: center;
  height: 50px;
  width: 100px;
  border-color: #F37116;
  border-radius: 10px;
  background-color: white;
  color : #F37116;
  cursor: pointer;
}

.main-bg{
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
